<h1>创建组织</h1>

<form>

  <input type="hidden" name="cmd" value="create_org"/>

  <div class="field">
    <%= f.label "组织名称" %><br />
    <label for=''>
    <%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label "分配角色" %><br />
  	<%= select("user_org", "role_id", Role.where("role_type_id = ?", 1).collect{|o| [o.name, o.id]}, { :include_blank => false }) %> 
  </div>
  <div class="field">
  	<%= f.label "组织类型" %><br />
  	<%= select("organization", "org_type_id", OrgType.all.collect{|o| [o.name, o.id]}, { :include_blank => false }) %> 
  </div>
  <div class="actions">
    <%= f.submit "提交"%>
  </div>
	
  <div style="margin:0;padding:0;display:inline">
		
	  <div class="field">
	    <label for="user_email">Email</label><br />
	    <input id="user_email" name="user[email]" size="30" type="text" />
	  </div>
	  
	  <div class="field">
	    <label for="user_password">密码</label><br />
	    <input id="user_password" name="user[password]" size="30" type="password" />
	  </div>

  <div class="actions">
    <input name="commit" type="submit" value="提交" />
  </div>

</form>

<%= link_to '返回首页',  {:controller => "web", :action => "index"}%>